# Dart / Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# pubspec.lock 은 앱 프로젝트이므로 커밋한다 (빌드 재현성)

# Android
android/.gradle/
android/local.properties
android/captures/
android/key.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
*.jks

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*
ios/ServiceDefinitions.json
