<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 산책 경로 기록: 화면이 꺼진 뒤에도 위치를 받아야 한다 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 지도 타일(OSM)과 글꼴(Google Fonts)을 받아야 한다.
         Flutter 템플릿은 이 권한을 debug/profile 매니페스트에만 넣어 둔다.
         릴리스 APK 에서 지도가 회색으로 비고 글꼴이 기본으로 나오는 원인이
         여기다 -- 앱이 고장난 것처럼 보이지만 권한 한 줄이 빠진 것이다. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- GPS 가 없는 WiFi 전용 태블릿에도 설치되게 한다.
         위치 권한이 있으면 Play 스토어가 GPS 를 필수로 간주해 그런 기기를
         걸러내는데, 이 앱은 개발 중 가짜 GPS 로도 확인할 수 있어야 한다. -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>

    <application
        android:label="petwalk"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- geolocator 포그라운드 서비스. 이게 없으면 앱이 백그라운드로
             내려가는 순간 위치 스트림이 끊긴다. -->
        <service
            android:name="com.baseflow.geolocator.GeolocatorLocationService"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="false"/>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
